<app-player *ngIf="!playmode"></app-player>
<app-playmode *ngIf="players && !playername"></app-playmode>
<app-playername *ngIf="playmode"></app-playername>
<app-teams *ngIf="playername"></app-teams>

<h4>___________________________________________</h4>
<h4>Die gewählten Einstellungen: </h4>

<div  *ngIf="players">
    <span>Spieleranzahl: </span>{{players}}
</div>

<div  *ngIf="playername">
    <span>Spieler: </span>{{playername}}
</div>

<div  *ngIf="playmode">
    <span>Spielmodus: </span>{{playmode}}
</div>


